@import '../themes/variables.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a{
    color: $cl-text;
    text-decoration: none;
  }
  .fontW_6{
    font-weight: $fw-600;
  }
  // font-family: 'Oleo Script', cursive;
  .modal-dialog{
    margin-left: none;
    background-color: transparent;
  }
  video{
    object-fit: cover;
  }
  .modal-content{
    background-color: transparent;
    border: none;
  }

  h2{
    font-weight: $fw-600;
  }
  h6{
    margin-bottom: 0;
  }
  p{
    margin-bottom: 0;
  }