
//fontweight
$fw-100:100;
$fw-300:300;
$fw-400:400;
$fw-600:600;
$fw-900:900;
//fonsize
$fz-12: 12px;
$fz-16: 16px;
$fz-18: 18px;
$fz-22: 22px;
$fz-32: 32px;
$fz-40: 40px;
$fz-48:48px;
$fz-60: 60px;
//color
$cl-black: rgb(0, 0, 0);
$cl-white: #ffff;
$cl-text:#62646a;
$cl-green-1:#1dbf73;
$cl-green-2:#00f836;
$cl-star:#ffb33e;
$cl-hover: #1dbf73;
//background
$gb-white: #ffff;
$bg-white: #ffff;
$gb-gray:#d9d9d9; 
$bg-green-1:#1dbf73;
$bg-bd:#cecece;



